<table>
    <tr>
        <td>번호</td>
        <td>아이디</td>
        <td>비번</td>
        <td>이름</td>
        <td>성별</td>
        <td>사진</td>
        <td>등록일</td>
    </tr>

    <tr>
        <td>{{result.dataValues.id}}</td>
        <td>{{result.dataValues.userid}}</td>
        <td>{{result.dataValues.userpw}}</td>
        <td>{{result.dataValues.username}}</td>
        <td>{{result.dataValues.gender}}</td>
        <td>{{result.dataValues.userimage}}</td>
        <td>{{result.dataValues.userdt}}</td>
    </tr>

</table>